<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<servlet>
		<servlet-name>Bootstrap</servlet-name>
		<servlet-class>com.yelli.App</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CreateTrackerApi</servlet-name>
		<servlet-class>com.yelli.apis.CreateTrackerApi</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateTrackerApi</servlet-name>
		<url-pattern>/yelli/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateLocationApi</servlet-name>
		<servlet-class>com.yelli.apis.UpdateLocationApi</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateLocationApi</servlet-name>
		<url-pattern>/yelli/update</url-pattern>
	</servlet-mapping>
</web-app>